# environnement
.env/
pyproject.toml
poetry.lock

# dossiers #
credentials/
credentials/
__pycache__/
data/
__pycache__/
credentials/
api/app/__pycache__/
event/

# fichiers #
enrichessement.py
model_backup.py
*.pyc
api_key.txt