# environnement
.env/
pyproject.toml
poetry.lock

# dossiers #
credentials/
__pycache__/
data/
__pycache__/
credentials/
api/app/__pycache__/
event/
metatada/

# fichiers #
enrichessement.py
model_backup.py
*.pyc
api_key.txt
data_viz.ipynb
enrichessement.py
upload_bigquery.py
event_kevin.py
api/app/security/token_user.json